<!-- File: views/managerzone/layout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
    <link rel="stylesheet" href="/css/admin-styles.css">
</head>
<body>

<h1>LOGIN</h1>
<%- include(content) %>

<script src="/js/admin-script.js"></script>

</body>
</html>
