<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<%- include('partials/header') %>
<%- include(content) %>
<%- include('partials/footer') %>

<script src="/js/script.js"></script>

</body>
</html>