<section id="products">
    <h2>Our Products</h2>
    <table>
        <!-- ... product table content ... -->
        <tr>
            <td><a href="product-detail.html">Product 1</a></td>
            <!-- ... -->
        </tr>
    </table>
</section>