<!-- File: views/managerzone/partials/header.ejs -->
<header>
    <nav>
        <a href="/managerzone">Dashboard</a> |
        <a href="/managerzone/categories">Manage Categories</a> |
        <a href="/managerzone/products">Manage Products</a> |
        <a href="/managerzone/groups">Manage Groups</a> |
        <a href="/managerzone/users">Manage Users</a> |
        <a href="/managerzone/admins">Manage Admins</a> |
        <a href="/managerzone/orders">Manage Orders</a> |
        <a href="/logout">Logout</a>
    </nav>
</header>
